html,
body,
#root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('/LuckyLuke.jpg');
	background-size: cover; /* Ensure the background image covers the entire page */
	font-family: 'Inter', sans-serif; /* Apply Inter font to the entire page */
}

/* Define CSS classes for Inter font with variable weights */

.inter-thin {
	font-family: 'Inter', sans-serif;
	font-weight: 100; /* Thin weight */
}

.inter-regular {
	font-family: 'Inter', sans-serif;
	font-weight: 400; /* Regular weight */
}

.inter-bold {
	font-family: 'Inter', sans-serif;
	font-weight: 600; /* Bold weight */
}

.inter-extra-bold {
	font-family: 'Inter', sans-serif;
	font-weight: 900; /* Extra Bold weight */
}

/* Adjust as needed for different weights */

.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	display: flex;
	flex-direction: column;
	padding: 20px;
	box-sizing: border-box;
	pointer-events: none; /* Allow interaction with underlying elements */
}

.container > * {
	pointer-events: auto; /* Re-enable pointer events for container children */
}

.top-left {
	position: absolute;
	top: 20px;
	left: 20px;
	color: white;
	font-size: 2rem;
	font-weight: 700; /* Use Bold weight for headings */
}

.top-left h1 {
	margin: 0;
	line-height: 1.2;
}

.top-left p {
	font-size: 1.3rem;
	font-weight: 500; /* Use Regular weight for paragraph text */
}

.bottom-left {
	position: absolute;
	bottom: 30px;
	left: 20px;
	color: rgba(255, 255, 255, 0.541);
	font-size: 1rem;
	font-weight: 500;
}

.bottom-left a:hover {
  text-decoration: underline;
}

.bottom-right {
  position: absolute;
	bottom: 20px;
	right: 20px;
	color: rgba(255, 255, 255, 0.925);
	line-height: 0.2;
	text-align: right;
}

.bottom-right a {
  color: #f54636;
  font-weight: 600;
  text-decoration: none;
}


.hamburger {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	z-index: 1002; /* Ensure hamburger is above other elements */
}

.hamburger div {
	width: 100%;
	height: 5px;
	background-color: white;
	border-radius: 2px;
}

.hamburger.active div:nth-child(1) {
	transform: rotate(45deg);
	top: 10px; /* Adjust as needed */
}

.hamburger.active div:nth-child(2) {
	opacity: 0; /* Hide the middle line */
}

.hamburger.active div:nth-child(3) {
	transform: rotate(-45deg);
	top: -10px; /* Adjust as needed */
}

.menu {
	position: fixed;
	top: 0;
	right: 0;
	width: 250px;
	height: 100%;
  border-radius: 7px;
	background: linear-gradient(
		270deg,
		rgba(255, 255, 255, 0) 10%,
		rgb(255, 255, 255, 0.7) 100%
	);
	box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.2);
	transform: translateX(100%);
	transition: transform 0.3s ease-in-out;
	z-index: 1001;
	pointer-events: auto; /* Ensure menu is interactive */
}

.menu.active {
	transform: translateX(0);
}

.menu-content {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.menu-item {
	margin: 10px 0;
	font-size: 1.25rem;
	color: rgba(0, 0, 0, 0.842);
	cursor: pointer;
}

.menu-item a {
	text-decoration: none; /* Removes underline */
	color: inherit; /* Inherits the text color from its parent */
}

.menu-close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 1.5rem;
	color: #333;
	z-index: 1002;
}

.menu-close:hover {
	color: #ff6f61;
}

.loader-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.192);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	z-index: 1000;
}

.loader {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 2rem;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	box-shadow: 1px 4px 0px rgba(255, 0, 0, 0.381);
}

.progress-bar {
	width: 200px;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.528);
	border-radius: 10px;
	overflow: hidden;
}

.progress-bar-fill {
	height: 100%;
	background-color: rgba(17, 0, 255, 0.429);
	transition: width 0.3s ease-in-out;
}


@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media (max-width: 768px) {
	.bottom-right {
		font-size: 0.9rem;
	}

	.menu {
		width: 42%; /* Full-width menu on mobile */
	}
}
